<div class="row">
    <div class="col-12 text-center text-uppercase font-weight-bold">
        <label class="text-center">{{ personagem.tipo }}</label>
        <div class="progress">
            <div [class]="'progress-bar progress-bar-striped progress-bar-animated ' + getClassColor()" role="progressbar"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getPorcentagemVida() + '%'}">
                {{ getPorcentagemVida() }} %
            </div>
        </div>
    </div>
</div>
