<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4">Ranking de Jogadores</h1>
    </div>

    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Jogador</th>
                        <th>Data/Hora</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="jogadores.length == 0">
                        <td colspan="4">Nenhum jogador para ser listado</td>
                    </tr>

                    <tr *ngFor="let jogador of jogadores; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ jogador.playerName | uppercase }}</td>
                        <td>{{ jogador.data | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{ jogador.score | number:'1.0-2':'pt' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
