<div class="row">
    <div class="col-12 mx-auto">
        <div class="row" *ngIf="!batalha.isFinalizada()">
            <div class="col-12">
                <h1 class="text-center">Batalha</h1>
            </div>

            <div class="col-6">
                <barra-vida [personagem]="batalha.getJogador()"></barra-vida>
            </div>

            <div class="col-6">
                <barra-vida [personagem]="batalha.getMonstro()"></barra-vida>
            </div>

            <div class="col-12">
                <div class="grupo-acoes my-5">
                    <botao-acao (click)="batalha.atacar()" [estilo]="'primary'">
                        Atacar
                    </botao-acao>

                    <botao-acao (click)="batalha.especial()" [estilo]="'warning'" [desabilitado]="batalha.isCarregandoEspecial()">
                        Especial
                    </botao-acao>

                    <botao-acao (click)="batalha.curar()" [estilo]="'success'">
                        Curar
                    </botao-acao>

                    <botao-acao (click)="batalha.desistir()" [estilo]="'danger'">
                        Desistir
                    </botao-acao>
                </div>

                <log-acao></log-acao>
            </div>
        </div>

        <div *ngIf="batalha.isFinalizada()">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-5">{{ batalha.getTitulo() }}</h1>

                    <div *ngIf="batalha.isVitoriaJogador()">
                        <form (submit)="salvarPontuacao()" method="post">

                            <div class="form-group">
                                <label for="nome">Informe seu Nome:</label>
                                <input required class="form-control" type="text" name="nome" [(ngModel)]="nome">
                            </div>

                            <div class="row">
                                <div class="mx-auto col-6 col-md-3">
                                    <a routerLink="/iniciar-jogo" class="btn btn-secondary btn-large">
                                        Voltar
                                    </a>
                                </div>

                                <div class="mx-auto col-6 col-md-3">
                                    <botao-acao [tipo]="'submit'" [estilo]="'success'">
                                        Salvar Pontuação
                                    </botao-acao>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 col-sm-4 mx-auto" *ngIf="!batalha.isVitoriaJogador()">
                        <a routerLink="/iniciar-jogo" class="btn btn-secondary btn-large btn-block">
                            Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
