<div class="row">
    <div class="col-12 mx-auto">
        <h1 class="text-center">Seja Bem Vindo</h1>

        <p class="text-justify mt-5">
            Este projeto é um jogo baseado em turnos. O jogador poderá
            realizar ações como atacar, ataque especial, curar e desistir da batalha.
            Caso ganhe, poderá registrar seu nome no ranking.
        </p>

        <p>Uma breve descrição de cada menu:</p>

        <ul>
            <li><strong>Home</strong> - Página Inicial do Projeto</li>
            <li><strong>Ranking</strong> - Pontuação de todos os jogadores cadastrados</li>
            <li><strong>Iniciar Jogo</strong> - Tela para iniciar uma batalha</li>
        </ul>

        <p class="mb-0 mt-5"><strong>Dev: </strong> Isaac Santos</p>
        <p><strong>Tecnologias:</strong> Angular 7, Node.js 10 e Bootstrap 4</p>
    </div>
</div>
