<div class="row">
    <div class="col-12 mx-auto">
        <h1 class="text-center">Iniciar Jogo</h1>

        <p class="text-center mx-auto my-5">
            Clique no botão para iniciar uma partida contra o monstro. Escolha
            sabiamente suas ações para conseguir derrotar seu inimigo.
        </p>

        <div class="col-12 col-sm-4 mx-auto">
            <a routerLink="/jogo" class="btn btn-primary btn-block">
                Iniciar Jogo
            </a>
        </div>
    </div>
</div>
