<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Log de Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let acao of linhaTempo()" [class]="getClasse(acao.tipo)">
                <td>{{ acao.mensagem }}</td>
            </tr>
        </tbody>
    </table>
</div>
